@import url("../css/style.css");

#p1{
    font-family: "Lord Skudley";
}

#p2{
    font-family: "Stonecross";
}

#p5{
    font-family: "Trade Winds";
}

#skudley h2{
    font-family: "Indy";
    background: -webkit-linear-gradient(#ffa202, #feff1f, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#skudley p{
    font-family: "EEF";
}