@import url("../css/style.css");
  
.container {
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: rgba(21, 61, 126, 0.637);
}

h2{
  font-family: "Sagacity";
  color: #ffa202
}

.form-group, button{
  font-family: "Indy";
  color: #fe0000;
}

.form-control{
  font-family: "EEFBolder";
}

