@import url("../css/style.css");

#table{
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(21, 61, 126, 0.637);
  }

#title{
    background-color: #c55911;
    font-family: "Sagacity Caps";
    color: white;

}
.table{
    background-color: white;
    font-family: "Caslon Antique";
}

.table:nth-of-type(even){
    background-color: #ffc000;
}

#skudley h2{
    font-family: "Goonies";
    color: yellow;
}

#skudley p{
    font-family: Papyrus;
}
