@import url(./style.css);

#tb2 h2{
    font-family: "Indy";
    background: -webkit-linear-gradient(#ffa202, #feff1f, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3{
    font-family: "Lord Skudley";
    color: #fe0000;
}

#tb2 p{
    font-family: "EEF";
}

/* CARD  */
.card{
    background-color: orange;
    color: #340146;
  }

  .card-title{
      font-family: "Freebooter";
  }
  
  .card-text{
      font-family: "Sagacity";
  }
  
  #thumb {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
  }
  
  #thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }
  
  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* POPUP  */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  


  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

 