#flipscreen {
    width: 100%;
    height: 100%;
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.main p{
    font-family: "French's Asylum";
    src="./fonts/FrenchsAsylum.otf";text-align: center;
    text-decoration: none;
    color: #ffa202;
    text-shadow: 2px 2px #340146; 
    font-size: 50px;  
}
#podcasts p{
    font-family: 'Libre Baskerville', serif;
    color: whitesmoke;
    font-size: 20px;
    text-align: left;
}