@import url("../css/style.css");

/* BACKGROUND IMAGE  */
.bg-image {
    background-attachment: fixed;
    background-position:bottom;
    margin: 100px;
    width: auto;
    background-image: url("../img/Mustange/BG_Map.png");
    background-repeat:no-repeat;
  }
 
 #skudley h2{
   font-family: "Trade Winds";
   color: #c65c29:
 } 