@import url("../css/fonts.css");

body, html {
  background-color: #4d0f58;
  padding-left: 15px;
  padding-right: 15px;
}

/* NAVBAR */
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;  
  font-family: "Sagacity Caps";
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/* TEXT BOXES  */
h1{
  font-family: "lord Skudley";
  color: #ffa202;
}

h2{font-family: "Indy";
  background: -webkit-linear-gradient(#ffa202, #feff1f, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

h3{
  font-family: "Sagacity Caps";
  color: #fe0000;
}

.caption {
  font-family: "Sagacity";
  width: 100%;
  margin: 0 0 0 0;
  background-color: rgba(78, 15, 107, 0.65);  
  z-index: 5;
}

#tb2 h2{
  font-family: "Indy";
  background: -webkit-linear-gradient(#ffa202, #feff1f, #ffffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 10px;
}

#tb2 h3{
  font-family: "Lord Skudley";
  src: url(../fonts/Lord-Skudley.otf);
  color: #fe0000;
}

#tb2 p{
  font-family: "EEF";
}
/* FOOTER  */
.footer{
  font-family: "Sagacity Caps";
}

.footer a{
  text-decoration: none;
}

/* SOCIAL MEDIA STYLING */  
.fa {
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.french {
  font-family: "French's Asylum";
  color: white;
}

@media screen and (min-width: 601px) {
  .body{
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  .body{
    font-size: 30px;
  }
}
